<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AppUrl" value="http://sampada.wix.com/digimem" />
    <add key="AppCallbackUrl" value="http://sampada.wix.com/digimem" />
    <add key="ClientId" value="5cf0e34d22d294a0ffc5" />
    <add key="ClientSecret" value="7776056bf572c211247a68086fe8241716e00744e682db685563f03a" />
    <add key="HostName" value="https://a.wunderlist.com/api/v1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <dependentAssembly>
      <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
      <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.1" />
    </dependentAssembly>
  </runtime>
</configuration>